/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* reset css */


body {
	
	background-color:  #fdfcf4;
	font-family: arial;
	color: #ded4be;
	
}

.logo {
	margin-right: 100px;
	display: inline-block;
	margin-left: 20px;
	padding-top: 20px;
	vertical-align: middle;
}

.headerUl {
	display: inline-block;
}



header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.appBarText {
	
	margin-right: 50px;
	padding-top: -20px;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;	
}

.facebook {
	margin-right: 10px;
	border-right: 1px solid #ded4be;
	padding-right: 10px;
	vertical-align: middle;
}

.google {
	vertical-align: middle;
}

.twitter {
	vertical-align: middle;
}

.magnify {
	vertical-align: middle;
	margin-right: -15px;
}

.play {
	vertical-align: middle;
	margin-left: -20px;
}

.appBar {
	display: inline-block;
	border-right: 2px solid #ded4be;
}



input {
	width: 120px;
	height: 20px;
	margin-right: 0px;
	
}



.banner {
	background: url(images/img/banner.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.banner p {
	font-family: 'Kite One', sans-serif;
	color: #fdfcf4;
	padding-left: 50px;
	padding-bottom: 20px;
	font-size: 20px;
	
}

.bannerP {
	width: 42%;
}

.forside {
	color: white;
	text-shadow: 2px 2px #000000;
}

section {
	width:60%;
	display: inline-block;
	margin-left: 40px;
	
}

.dot {
	vertical-align: middle;
}

section ul {
	padding: 0px;
	height: 200px;
	margin-top: 75px;
	margin-bottom: 100px;
}

h1 {
	color: #fdfcf4;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 32px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
	text-shadow: 2px 2px #000000;
	
}
	

h2 {
	display: inline-block;
	color: #c02321;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 32px;
	vertical-align: middle;
}

h3 {
	display: inline-block;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 28px;
	margin-left: 10px;
}

nav ul {
	float: right;
	margin: 0px;
	margin-top: 7px;
	margin-right: 18px;

}

nav li { 
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
	padding-top:  30px;
	padding-bottom: 20px;
	margin: -2px;
	background-color:  #ded4be;
	border-right: 1px solid #c02321;
}
nav .lastLi {
	padding-right: 100px;
	border-right: none;
}

nav li a {
	font-size: 28px;
	text-decoration: none;
}



.boxBottom {
	background-color: #eee9df;
	width: 45%;
	display: inline-block;
	box-sizing: inherit;
	float: left;
	margin-right: 20px;
}

.boxBottom p {
	padding-left: 20px;
	padding-right: 10px;
}

.boxBottom2 {
	background-color: #eee9df;
	width: 45%;
	display: inline-block;
	box-sizing: inherit;
	float: left;
}

.boxBottom2 p {
	padding-left: 20px;
	padding-right: 10px;
}

.smallBanner {
	background: url(images/img/section-top.png);
	width: 100%;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;	
}




.fa-thumbs-up {
	margin-left: 20px;
	font-size: 32px;
}

.firstA{
	float: right;
	padding: 5px;
	margin-top: 30px;
}

.secondA{
	float: right;
	padding: 5px;
	margin-top: 50px;
}

section p {
	padding-top: 10px;
	padding-right: 50px;
	font-size: 20px;
}

aside {
	margin-right: 50px;
	width: 25%;
	float: right;
	position: relative;
}

.smallBanner2 {
	background: url(images/img/list-top.png);
	width: 100%;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	
}

.fa-check {
	margin-left: 20px;
	font-size: 32px;
}

aside ul{
	padding: 0px;
	text-decoration: none;
	margin-bottom: 30px;
}


aside li { 
	background: #ded4be; 
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

aside li a {
	text-decoration: none;
	font-size: 25px;
	

}

aside li:nth-child(odd) { 
	background: #eee9df; 
	
}
	
aside ul li img {
margin-right: 10px;
margin-left: 5px;
padding: 5px;
vertical-align: middle;


}

.lastListItem{
	padding-left: 10px;
}



.bottomAside {
	background-color: #f9f7e9;
	text-align: center;
	width: 200px;
	padding: 10px;
	margin: auto;
}

.bottomAside img {
	width: 40%;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
}

a {
	color: #c02321;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
}

ul {
	list-style: none;
	
}




  #pointer {
    width: 150px;
    height: 40px;
    position: relative;
    background: white;
	margin-left: 70px;
	margin-bottom: 25px;
	vertical-align: middle;
  }

   #pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
          
 .pointer{
	 margin-top: 10px;
	 font-size: 26px;
	 margin-left: 10px;
 }
 
