/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* reset css */


body{
	background-color:  #fdfcf4;
	font-family: arial;
	color: #ded4be;
	
}

.logo {
	margin-right: 100px;
	display: inline-block;
	margin-left: 20px;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
}

header p {
	display: inline-block;
	margin-right: 50px;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;

	
	
}

.appBar {
	display: inline-block;
	border-right: 2px solid #ded4be;
}

input {
	width: 100px;
	height: 20px;
}

.banner {
	background: url(images/img/banner.png);
	width: 98%;
	height: 335px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 40px;

}

.banner p {
	font-family: 'Kite One', sans-serif;
	color: #fdfcf4;

}


section {
	width:60%;
	display: inline-block;
	margin-left: 40px;
	
}

h1 {
	color: #fdfcf4;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
}
	

h2 {
	display: inline-block;
	color: #c02321;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
}

h3 {
	display: inline-block;
	margin-left: 20px;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 28px;
}

nav ul {
	float: right;
	margin: 0px;

	
}

nav li { 
display: inline-block;
padding-right: 50px;
padding-left: 50px;
padding-top:  20px;
padding-bottom: 20px;
margin: -2px;
background-color:  #ded4be;
border-right: 1px solid #c02321;

}



.boxBottom {
	background-color:  #eee9df;
	width: 45%;
	display: inline-block;
	
	
}

.smallBanner {
	background: url(images/img/section-top.png);
	width: 100%;
	color: white;	
}




.fa-thumbs-up {
	margin-left: 20px;
	font-size: 32px;
}

section a {
	float: right;
}

aside {
	margin-right: 40px;
	width: 25%;
	float: right;
	position: relative;
}

.smallBanner2 {
	background: url(images/img/list-top.png);
	width: 100%;
	color: white;	
}

.fa-check {
	margin-left: 20px;
	font-size: 32px;
}

aside ul{
	padding: 0px;

}


aside li { background: #ded4be; }
aside li:nth-child(odd) { background: #eee9df; 
}
	
aside ul li img {
margin-right: 10px;
margin-left: 5px;
padding: 5px;
}

.topAside {
	background-color: blue;
}

.bottomAside {
	background-color: #f9f7e9;
	text-align: center;
}



a {
	color: #c02321;
	font-family: 'Kite One', sans-serif;
	font-family: 'Nothing You Could Do', cursive;
}

ul {
	list-style: none;
	
}




  #pointer {
    width: 150px;
    height: 40px;
    position: relative;
    background: white;
	
  }

   #pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
          
 
  